@page "/"

@using Facturation_V2.Shared

@inject HttpClient http

<h2>Bienvenue sur l'accueil de votre application ! </h2>
@if (dashboard == null)
{
    <p>Chargement du menu en cours ...</p>
}
else
{
    <div class="row">
        <span class="font-weight-bolder ">Total Facturé : &nbsp;</span>
        <span class="text-primary">@dashboard.TotalDu €</span>
    </div>

    <div class="row">
        <span class="font-weight-bolder">Total Réglé : &nbsp; </span>
        <span class="text-success">@dashboard.TotalRegle €</span>
    </div>


    <div class="row">
        <span class="font-weight-bolder">Reste à recevoir : &nbsp; </span>
        <span class="text-danger">@dashboard.ResteARecevoir €</span>
    </div>
}

@code {
    private protected DashboardVM dashboard;
    protected override async Task OnInitializedAsync()
    {
        dashboard = await http.GetFromJsonAsync<DashboardVM>("api/dashboard");
    }
}